<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row" id="navbar" style="background-color: azure;">
            <div class="col">
                <h1>CodingDojo Wall</h1>
            </div>
            <div class="col">
                <span class="col">Welcome {{user.fname}} {{user.lname}}</span>
                <a href="/logout">Log Out</a>
                <span> | </span>
                <a href="/wall">Back to Wall</a>
            </div>
        </div>
        <div class="my-5">
            <h4>{{msg.user.fname}} {{msg.user.lname}} | {{msg.created_at}}</h3>
            <p>{{msg.content}}</p>
            {% if msg.user.id == user.id %}
                <a href="/wall/{{msg.id}}/delete">Delete my post</a>
            {% endif %}
        </div>
        <div class="my-4" id="commentbox">
            <h3 class="my-4">Comment on this post</h3>
            <form action="/wall/{{msg.id}}/post_comment" method="post">
                {% csrf_token %}
                <textarea name="comment" style="min-width: 100%; min-height: 100px" placeholder="Write your comment to this post here and press 'post comment' when you're ready!" required></textarea>
                <button class="btn btn-primary my-3">post comment</button>
            </form>
        </div>
        {% if comments %}
            {% for comment in comments %}
                <div class="my-5">
                    <h4>{{comment.user.fname}} {{comment.user.lname}} | {{comment.created_at}}</h3>
                        <p>{{comment.content}}</p>
                        {% if comment.user.id == user.id %}
                            <a href="/wall/{{msg.id}}/comments/{{comment.id}}/delete">Delete my comment</a>
                        {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>