<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>you have visited this site {{request.session.visit_count}} time(s)</p>
    <form action="/destroy">
        {% csrf_token %}
        <button>DESTROY</button>
    </form>
    <form action="/plus2">
        {% csrf_token %}
        <button>+2</button>
    </form>
    <form action="/increment" method="POST">
        {% csrf_token %}
        <input type="number" name="number" id="number">
        <button>Increase count x times</button>
    </form>
</body>
</html>