<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Great Number Game</title>
</head>
<body>
    <h1>Welcome to the Great Number Game!</h1>
    <p>I am thinking of a number between 1 and 100.</p>
    <p id="clue">{{ request.session.clue }}</p>
    <p id="guesses">You took {{ request.session.user_guess_count }} guess(es)</p>
    <form action="/play_again">
        {% csrf_token %}
        <button>Play again?</button>
    </form>
</body>
</html>